.council{
 text-align:center;
 padding:20px;
}



.stage{
 display:flex;
 justify-content:center;
 align-items:flex-end;
 gap:120px;
 min-height:320px;
}

.judge{
 opacity:0;
 text-align:center;
 transform:translateX(0);
}

.judge.show{
 opacity:1;
}

.judge img{
 width:140px;
 pointer-events:none;
 user-select:none;
}

/* perso derecha */
.perso.show{
 animation:perso .6s forwards;
}

@keyframes perso{
 from{transform:translateX(200px);}
 to{transform:translateX(0);}
}

/* miku izquierda */
.miku.show{
 animation:miku .6s forwards;
}

@keyframes miku{
 from{transform:translateX(-200px);}
 to{transform:translateX(0);}
}

/* bobi fade */
.bobi.show{
 animation:bobi .6s forwards;
}

@keyframes bobi{
 from{opacity:0;transform:scale(.6);}
 to{opacity:1;transform:scale(1);}
}

.vote{
 margin-top:10px;
 color:white;
 font-weight:bold;
}

.final{
 margin-top:30px;
 font-size:22px;
 color:gold;
 font-weight:bold;
}
.summon{
 padding:14px 28px;
 background:linear-gradient(45deg,#ffd700,#ff9900);
 border:none;
 border-radius:14px;
 font-weight:bold;
 cursor:pointer;
 margin-bottom:30px;
 box-shadow:0 0 20px rgba(255,215,0,.4);
}