.wheel-container{
 position:relative;
 width:320px;
 height:320px;
 margin:auto;
}

.wheel{
 width:100%;
 height:100%;
 border-radius:50%;
 border:8px solid gold;
 position:relative;
 transition:transform 4s cubic-bezier(.08,.82,.17,1);
 box-shadow:0 0 25px rgba(255,215,0,.5);
}

.pointer{
 position:absolute;
 top:-10px;
 left:50%;
 transform:translateX(-50%);
 width:0;
 height:0;
 border-left:12px solid transparent;
 border-right:12px solid transparent;
 border-bottom:20px solid red;
 z-index:10;
}

.label{
 position:absolute;
 width:50%;
 height:50%;
 top:50%;
 left:50%;
 transform-origin:0% 0%;
}

.label span{
 position:absolute;
 left:15px;
 top:5px;
 color:white;
 font-size:11px;
}
