<div class="casino">

<h1>🎰 Outfit Casino</h1>

<button (click)="selectedWheel.set('R1')">L-M-V</button>
<button (click)="selectedWheel.set('R2')">M-J</button>
<button (click)="selectedWheel.set('R3')">S-D</button>

<!-- 👇 ahora solo cambia el modo -->
<button class="spin" (click)="run()">Elegir Modo</button>

<div class="view-container">

  <ng-container [ngSwitch]="mode()">

    <app-wheel-view
      *ngSwitchCase="'WHEEL'"
      [options]="getOptions()">
    </app-wheel-view>

    <app-chest-view
      *ngSwitchCase="'CHEST'"
      [options]="getOptions()">
    </app-chest-view>

    <app-council-view
      *ngSwitchCase="'COUNCIL'"
      [options]="getOptions()">
    </app-council-view>

  </ng-container>

</div>


<hr>

<input #nombre placeholder="Categoría">

<select #wheel>
<option value="R1">R1</option>
<option value="R2">R2</option>
<option value="R3">R3</option>
</select>

<button (click)="add(nombre.value,wheel.value)">Agregar</button>

</div>
