<div class="casino">

<h1>🎰 Outfit Casino</h1>

<button (click)="selectedWheel.set('R1')">L-M-M</button>
<button (click)="selectedWheel.set('R2')">J-V</button>
<button (click)="selectedWheel.set('R3')">S-D</button>

<button class="spin" (click)="run()">DECIDIR</button>

<div *ngIf="mode()">

<app-wheel-view
 *ngIf="mode()==='WHEEL'"
 [result]="result()"
 [spinning]="spinning()"
 [allOptions]="getOptions()"
>
</app-wheel-view>

<app-chest-view *ngIf="mode()==='CHEST'" [result]="result()"/>
<app-council-view *ngIf="mode()==='COUNCIL'" [result]="result()"/>

</div>

<hr>

<input #nombre placeholder="Categoría">
<select #wheel>
<option value="R1">R1</option>
<option value="R2">R2</option>
<option value="R3">R3</option>
</select>

<button (click)="add(nombre.value,wheel.value)">Agregar</button>

</div>

